@import url('https://fonts.googleapis.com/css2?family=Mulish&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Mulish&display=swap');


.App {
  text-align: center;
  margin: auto;
  
  /* background-color: blanchedalmond; */
}


.header{
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
}

.header>div{
 width: 300px;
}

.headerOne{
  text-align: left;
}

.headerTwo{
  text-align: right;
  max-width: 100%;
}

.headerTwo>span{
position: relative;
  margin-right : 35px;
 bottom: 7px;
 font-family: 'Mulish', sans-serif;

}

.headSpanOne{
color:#333333;
max-width: 100%;

}

.headSpanTwo{
  color:#BDBDBD;
  max-width: 100%;

}

.data-container{
  margin-top:85px; 
}

.card-header{
  max-width: 100%;
  display:flex;
  flex-direction: row;
  justify-content: space-between;
}
.CardSpanOne{
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
  color: #333333;
}
.CardSpanTwo{
  font-family: Montserrat;
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 17px;
color: #4F4F4F;
}

.card-content{
  display: grid;
  grid-template-columns: 33.3% 33.3% 33.3%;
  margin-top: 35px;
  margin-left: 0px;
 
}



.card{
  
  width:  395px;
  max-width:100%;
  margin: 50px auto;
}



.card-image{
  width:  395px;
  max-width: 100%;
  height: 269px;
  object-fit: cover;
  border-radius: 24px;
}

.CardGenSpanOne{

  font-family: Montserrat;
font-style: normal;
font-weight: 500;
font-size: 14px;
color: #828282;

}

.CardGenSpanTwo{
  display: flex;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 0px;
  color: #4F4F4F;
}
.CardGenSpanTwo>span{
color:#EB5757;
}

.card-title{
  font-family: Montserrat;
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 20px;
text-align: left;
color: #333333;
max-width: 100%;
}

.searchButton{
  margin: auto;
  display: flex;
  justify-content: center;
  width: 127px;
  height: 49px;
  color: white;
  background: #EB5757;
  box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.1);
  border-radius: 16px;
}

.searchButton:active{
  transform: translateY(4px);
}

.searchButton>.MuiSvgIcon-root{
  margin-top: 15px;
  margin-right: 5px;
}


.ExtendedMenu{
  width: 70%;
  z-index: 1;
  height: 100vh;
  position: absolute;
  display: none;
  flex-direction: column;
  
}
.MenuContainer{
  background-color:white;
  display: flex;
  height: 500px;
  width: 100%;
  
  
}

.menubackground{
  margin: auto;
  display: flex;
  background-color:white;
  margin-top: 93px;
  width: 80%;
  
}

.menubackground>div{
  
  width: 33.3%;
  flex-direction: row;
  height: 250px;
}

.locationOptions{
  display: none;
  flex-direction: column;
  height: 75%;
  text-align: left;
  font-family: Mulish;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: #4F4F4F;
}

.locationOptions>div{
  height: 20%;
  display: flex;
  
}

.locationOptions>div>.MuiSvgIcon-root{
  margin-top: 10px;
}




.GuestField,.LocationField{
text-align: left;
padding-left: 10px;
width: 100%;
height: 55px;
}

.GuestField:hover , .LocationField:hover{
  
border: 2px solid #333333;
box-sizing: border-box;
filter: drop-shadow(0px 1px 6px rgba(0, 0, 0, 0.1));
border-radius: 16px;
}

.GuestField>h1 ,.LocationField>h1{
  font-family: Mulish;
font-style: normal;
font-weight: 800;
font-size: 9px;

text-transform: uppercase;
color: #333333;

}

.GuestField>p ,.LocationField>p{
  font-family: Mulish;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 18px;
color: #BDBDBD;
}

.shadowGen{
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.5;
  
}

.guestContainer{
  text-align: left;
}

.guestOptions{
  margin-left:10px;
  display: flex;
  flex-direction: column;
}

.guestContainer>h1{

  font-family: Mulish;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 18px;
  margin-bottom:0px;
  color: #333333;
}

.guestContainer>p{
  font-family: Mulish;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 18px;
color: #BDBDBD;
margin-top:0px;

}

.guestContainer>div>input{
    width: 10%;
    outline: none;
    background-color: #F2F2F2;
    border: none;
    text-align: center;
}

.guestContainer>div{
    width: 134.25px;
  
    display: flex;
    justify-content: center;
}

.guestContainer>div>span{
   border: 1px solid #828282;
    margin: 0px 15px;
    width: 25px;
    height: 25px;
    background: #E0E0E0;
    border-radius: 4px;
    text-align: center;
}

.hidertwo{
  display: none;
}



@media only screen and (max-width: 1700px) {
  .card-content {
    grid-template-columns: 50% 50%;
  }

}

@media only screen and (max-width: 1200px) {
  .card-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .card{
    margin: 25px 0px;
  }

  .header{
    flex-direction: column;
  }

  .header>div{
    width: 100%;
   }

  .headerTwo{
    text-align: right;
    max-width: 100%;
    margin-top: 50px;
  }
  
  .headerTwo>span{
  position: relative;
    margin-right : 15px;
   bottom: 7px;
   font-family: 'Mulish', sans-serif;
  max-width: 100%;
  }

  .menubackground{
    flex-direction: column;
    justify-content: center;
    width: 100%;
  }

  .menubackground>div{
    height: 100px;
    width: 100%;
  }

  

  .searchButton{
    margin-left: auto;
  }
}

