@import url('https://fonts.googleapis.com/css2?family=Mulish&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Mulish&display=swap');


.App {
  text-align: center;
  width: 70%;
  margin: auto;
  /* background-color: blanchedalmond; */
}


.header{
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
}

.header>div{
 width: 300px;
}

.headerOne{
  text-align: left;
}

.headerTwo{
  text-align: right;
  max-width: 100%;
}

.headerTwo>span{
position: relative;
  margin-right : 35px;
 bottom: 7px;
 font-family: 'Mulish', sans-serif;

}

.headSpanOne{
color:#333333;
max-width: 100%;

}

.headSpanTwo{
  color:#BDBDBD;
  max-width: 100%;

}

.data-container{
  margin-top:85px; 
}

.card-header{
  max-width: 100%;
  display:flex;
  flex-direction: row;
  justify-content: space-between;
}
.CardSpanOne{
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
  color: #333333;
}
.CardSpanTwo{
  font-family: Montserrat;
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 17px;
color: #4F4F4F;
}

.card-content{
  display: grid;
  grid-template-columns: 33.3% 33.3% 33.3%;
  grid-gap:33px;
  margin-top: 35px;
  margin-left: 0;
}



.card{
  max-width: auto;
  
  width: 395px;
  max-width:100%;
  margin: 50px 0px;
}



.card-image{
  width: 100%;
  max-width: 100%;
  height: 269px;
  object-fit: cover;
  border-radius: 24px;
}

.CardGenSpanOne{

  font-family: Montserrat;
font-style: normal;
font-weight: 500;
font-size: 14px;
color: #828282;

}

.CardGenSpanTwo{
  display: flex;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 0px;
  color: #4F4F4F;
}
.CardGenSpanTwo>span{
color:#EB5757;
}

.card-title{
  font-family: Montserrat;
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 20px;
text-align: left;
color: #333333;
max-width: 100%;
}

@media only screen and (max-width: 900px) {
  .card-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .card{
    margin: 25px 0px;
  }

  .header{
    flex-direction: column;
  }

  .header>div{
    width: 100%;
   }

  .headerTwo{
    text-align: right;
    max-width: 100%;
    margin-top: 50px;
  }
  
  .headerTwo>span{
  position: relative;
    margin-right : 15px;
   bottom: 7px;
   font-family: 'Mulish', sans-serif;
  max-width: 100%;
  }
}


